{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Hello PreventionController!
{% endblock %}

{% block body %}
<main>
	<div class="jumbotron text-center">
		<h1 class="display-4">Proposer un topic</h1>
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVENTION') %}
		<p class="lead">Votre topic sera automatiquement publié.</p>
		{% else %}
		<p class="lead">Votre topic devra être validé par le pôle prévention avant d'être visible publiquement</p>
		{% endif %}
	</div>
	<div class="container py-3">
		{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.content) }}
		{{ form_row(form.tag) }}
		{% if is_granted('ROLE_ADMIN') == null and is_granted('ROLE_PREVENTION') == null %}
		{{ form_row(form.isAnonymous) }}
		{% endif %}
		<div class="text-center">
			<button class="btn btn-primary">Proposer</button>
		</div>
		{{ form_end(form, {'render_rest': false}) }}
	</div>
</main>
{% endblock %}