{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Chat
{% endblock %}

{% block body %}
<main>
	<div class="home-header text-center">
		<h1 class="display-4">Chat</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-ms-4 border-right">
				<ul class="navbar-nav py-3 px-4" id="users">
					{% for author in authors %}
					<li class="py-1" role="button" onclick="load('{{author.id}}', this)">{{author.isAnonymous ?
						author.anonymousId : author.fullname}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col col-ms-8 py-3 pl-4">
				<h4>Vous discutez avec <span id="user">{{authors[0].isAnonymous ?
						authors[0].anonymousId : authors[0].fullname}}</span></h4>
				<hr>
				<div id="chat" class="pt-1 pr-4 overflow-auto" style="height: calc(100vh - 355px);">
					{% for message in messages %}
					<div class="message card {{message.isPrevention ? 'ml-auto'}}" style="width:fit-content">
						<div class="card-body" data-toggle="tooltip" title="{{message.messageDate|date('H:i, d/m/Y')}}">
							{{message.content}}
						</div>
					</div>
					{% endfor %}
				</div>

				<form onsubmit="return false;" class="input-group mt-4 pl-4">
					<input type="text" class="form-control" id="content">
					<button onclick="send()" class="btn btn-primary my-sm-0 ml-3">Envoyer</button>
				</form>
			</div>
			<div id="blank"></div>
		</div>
	</div>
</main>
<script>
	let interval = null;
	let idU = '{{ authors ? authors[0].id }}';

	$(document).ready(function () {
		setInterval(() => {
			getUsers();
		}, 5000);
		$('#chat').scrollTop($('#chat')[0].scrollHeight);
	});

	function load(id, elem) {
		clearInterval(interval);
		$("#chat").load('{{ asset("prevention/chat_messages.php") }}', { id: id, is_prevention: 1 }, function () {
			$('#chat').scrollTop($('#chat')[0].scrollHeight);
		});
		idU = id;
		interval = setInterval(() => {
			$("#chat").load('{{ asset("prevention/chat_messages.php") }}', { id: id, is_prevention: 1 });
		}, 5000);
		$('#user').text($(elem).text());
	}

	function getUsers() {
		$("#users").load('{{ asset("prevention/chat_users.php") }}');
	}

	function send() {
		if ($("#content").val() == '' || !idU) {
			return;
		}
		$("#blank").load('{{ asset("prevention/chat_send.php") }}',
			{
				id: idU,
				content: $("#content").val(),
				is_prevention: 1
			}, function () {
				$("#chat").load('{{ asset("prevention/chat_messages.php") }}', { id: idU, is_prevention: 1 }, function () {
					$('#chat').scrollTop($('#chat')[0].scrollHeight);
					$("#content").val('');
					getUsers();
				})
			});
	}
</script>
{% endblock %}