{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Chat
{% endblock %}

{% block body %}
	<main>
		<div class="home-header text-center">
			<h1 class="display-4">Chat</h1>
		</div>
		<div id="users">
			{% for author in authors %}
				<ul>
					<li onclick="load({{author.id}})">{{author.fullName}}</li>
				</ul>
			{% endfor %}
		</div>
		<div id="chat">
			{% for message in messages %}
				<div class="message">
					<p>{{message.content}}</p>
					<i>{{message.messageDate|date('H:i, d/m/Y')}}</i>
				</div>
			{% endfor %}
		</div>
		<input type="text">
		<button>Envoyer</button>
	</main>
{% endblock %}
{% block javascripts %}
	<script>
		let interval = null;
function load(id) {
clearInterval(interval);
getData(id);
interval = setInterval(() => {
getData(id);
}, 5000);
}
function getData(id) {
$("#chat").load('{{ asset("prevention/chat.php") }}', {userId: id});
}
	</script>
{% endblock %}
