{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Forum
{% endblock %}

{% block body %}
<main>
	<div class="jumbotron text-center">
		<h1 class="display-4">Forum</h1>
		<p class="lead">Explorez les divers topics du forum</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<h2>Filters</h2>
			<form onsubmit="return false;">
				<input type="text" id="search_bar" class="form-control">
				<button onclick="filter()" class="btn btn-primary">Chercher</button>
			</form>
			<select class="form-control" onchange="filter()" multiple>
				<option value="" disabled selected>Tags</option>
				{% for tag in tags %}
				<option value="">{{tag.name}}</option>
				{% endfor %}
			</select>
			<select class="form-control" onchange="sort(this.value)">
				<option value="" disabled selected>Trier par</option>
				<option value="creationDate">Date de création</option>
				<option value="lastUpdate">Dernière modification</option>
				<option value="popularity">Popularité</option>
			</select>
		</div>
	</div>
	<a href="{{path('prevention_add_topic')}}">
		<button class="btn btn-primary">Proposer un nouveau topic</button>
	</a>
	<div id="topics">
		{% for topic in topics %}
		<div class="topic">
			<h3>{{topic.title}}</h3>
			<h4>{{topic.isAnonymous ? topic.author.anonymousId : topic.author.fullname}},
				<span class="sort_creationDate">{{topic.creationDate|date('d/m/Y')}}</span>
			</h4>
			{% for tag in topic.tags %}
			<i>{{tag.name}}</i>
			{% endfor %}
			<p>{{topic.content|slice(0, 255)}}...</p>
			<p>
				<span class="sort_popularity">{{topic.topicResponses|length}}</span>
				{{topic.topicResponses|length > 1 ? "réponses" : "réponse" }}
			</p>
			<p>Dernière activité le
				<span class="sort_lastUpdate">{{topic.lastUpdate|date('d/m/Y')}}</span>
			</p>
			<a href="{{path('prevention_view_topic', { 'id': topic.id })}}">En savoir plus...</a>
			</p>
		</div>
		{% endfor %}
	</div>
</main>
<script>
	function filter() {
		$(".topic").each(function (i, book) {
			$(book).find('h3, h4, p').text().toLowerCase().includes($("#search_bar").val().toLowerCase()) ? $(book).show() : $(book).hide();
		});
	}

	function sort(className) {
		let container,
			topics,
			switching,
			i,
			x,
			y,
			shouldSwitch;
		container = $("#topics");
		switching = true;
		while (switching) {
			switching = false;
			topics = container.children();
			for (i = 0; i < (topics.length - 1); i++) {
				shouldSwitch = false;
				x = $(topics[i]).find(".sort_" + className).text();
				y = $(topics[i + 1]).find(".sort_" + className).text();
				console.log(x);
				console.log(y);
				if (x.toLowerCase() < y.toLowerCase()) {
					shouldSwitch = true;
					break;
				}
			}
			if (shouldSwitch) {
				topics[i].parentNode.insertBefore(topics[i + 1], topics[i]);
				switching = true;
			}
		}
	}
</script>
{% endblock %}
