{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Administration
{% endblock %}

{% block body %}
<main>
	<div class="jumbotron text-center">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Description</p>
	</div>
	<div class="container">
		<div class="mb-4">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="topics-tab" data-toggle="tab" href="#topics" role="tab"
						aria-controls="topics" aria-selected="true">Topics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="responses-tab" data-toggle="tab" href="#responses" role="tab"
						aria-controls="responses" aria-selected="false">Réponses</a>
				</li>
			</ul>
		</div>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="topics" role="tabpanel" aria-labelledby="topics-tab">
				{% if topics|length == 0 %}
				Aucune demande en cours.
				{% else %}
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th>Titre</th>
							<th>Auteur</th>
							<th>Tag</th>
							<th>Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for topic in topics %}
						<tr>
							<td>
								{{topic.title}}
								<input type="hidden" class="objectId" value="topic|{{topic.id}}">
								<input type="hidden" class="objectContent" value="{{topic.content}}">
							</td>
							<td>{{topic.isAnonymous ? topic.author.anonymousId : topic.author.fullname}}</td>
							<td>{{topic.tag.name}}</td>
							<td>{{topic.creationDate|date('d/m/Y')}}</td>
							<td>
								<button class="btn btn-primary" onclick="setData(this)" data-toggle="modal"
									data-target="#modal">Voir</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
			<div class="tab-pane fade" id="responses" role="tabpanel" aria-labelledby="responses-tab">
				{% if responses|length == 0 %}
				Aucune demande en cours.
				{% else %}
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th>Topic</th>
							<th>Auteur</th>
							<th>Tag</th>
							<th>Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for response in responses %}
						<tr>
							<td>
								{{response.topic.title}}
								<input type="hidden" class="objectId" value="topic|{{response.id}}">
								<input type="hidden" class="objectContent" value="{{response.content}}">
							</td>
							<td>{{response.isAnonymous ? response.author.anonymousId : response.author.fullname}}</td>
							<td>{{response.tag.name}}</td>
							<td>{{response.responseDate|date('d/m/Y')}}</td>
							<td>
								<button class="btn btn-primary" onclick="setData(this)" data-toggle="modal"
									data-target="#modal">Voir</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div>
						<h5 id="modalLabel">Title</h5>
						<h6>Author, date</h6>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-header">
					<p>Content</p>
				</div>
				<div class="modal-body">
					<form action="" method="POST">
						<div class="form-group">
							<label for="rejectionMessage">Commentaire en cas de refus</label>
							<input type="text" id="rejectionMessage" name="rejectionMessage" class="form-control">
							<input type="hidden" id="objectId" name="objectId">
						</div>
						<div class="d-flex justify-content-end">
							<button class="btn btn-success" name="status" value="Validé">Accepter</button>
							<button class="btn btn-danger mx-2" name="status" value="Refusé">Refuser</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
	function setData(elem) {
		let modal = $('.modal-content');
		$(modal).find('.modal-header h5').text($(elem).parent().parent().children().eq(0).text());
		$(modal).find('.modal-header h6').text($(elem).parent().parent().children().eq(1).text() + ', ' + $(elem).parent().parent().children().eq(3).text());
		$(modal).find('.modal-body p').text($(elem).parent().parent().find('.objectContent').val());
		$(modal).find('#objectId').val($(elem).parent().parent().find('.objectId').val());
	}
</script>
{% endblock %}