{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Profile
{% endblock %}

{% block body %}
	<main>
		<h1>Mon profil</h1>
		<label for="">Pseudo</label>
		<input type="text" value="{{user.anonymousId}}" disabled>
		<form action="">
			<input type="checkbox" {{user.isAnonymous ? '' : "checked"}} name="is_anonymous">
			<label for="">Afficher mon identité lorsque je chat avec le pôle prévention.</label>
			<button>Sauvegarder les préférences</button>
		</form>

		<h2>Mes topics</h2>
		<table>
			<thead>
				<tr>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Date</th>
					<th>État</th>
					<th>Commentaire</th>
				</tr>
			</thead>
			<tbody>
				{% for topic in user.topics %}
					<tr>
						<td>
							<a href="{{path('prevention_view_topic', { 'id': topic.id })}}">{{topic.title}}</a>
						</td>
						<td>{{topic.content}}</td>
						<td>{{topic.creationDate|date('d/m/Y')}}</td>
						<td>{{topic.status}}</td>
						<td>{{topic.rejectionMessage ? topic.rejectionMessage : '-'}}</td>
						<td>
							<i class="far fa-plus-square"></i>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Mes messages</h2>
		<table>
			<thead>
				<tr>
					<th>Topic</th>
					<th>Contenu</th>
					<th>Date</th>
					<th>État</th>
					<th>Commentaire</th>
				</tr>
			</thead>
			<tbody>
				{% for response in user.topicResponses %}
					<tr>
						<td>
							<a href="{{path('prevention_view_topic', { 'id': response.topic.id })}}">{{response.topic.title}}</a>
						</td>
						<td>{{response.content}}</td>
						<td>{{response.responseDate|date('d/m/Y')}}</td>
						<td>{{response.status}}</td>
						<td>{{response.rejectionMessage ? response.rejectionMessage : '-'}}</td>
						<td>
							<i class="far fa-plus-square"></i>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
