{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <section class="content pt-5">
        <div class="container-fluid pt-5">
            <div class="row mx-2">
                <div>
                    <h1>Informations du pôle prévention</h1>
                </div>
                <div class="ml-auto">
                    <span>
                        <button onclick="save()" class="btn btn-primary save-button">
                            Enregistrer les modifications
                        </button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-text">Infos de base</div>
                        </div>
                        <div class="card-body">
                            <div id="form-container">
                                <div class="form-group">
                                    <label for="inputDescription">Phrase de description</label>
                                    <textarea class="form-control" id="inputDescription" rows="2" maxlength="180">{{ description }}</textarea>
                                    <small class="form-text text-muted">Rédiger une phrase pas trop longue (180 caractères max) qui explique rapidement le thème du projet.</small>
                                </div>

                                <div class="form-group">
                                    <div class="custom-file">
                                        <label for="inputLogo" class="custom-file-label">Ajouter / remplacer le logo</label>
                                        <input type="file" class="custom-file-input" id="inputLogo" accept=".png,.jpg" onchange="previewLogo(this)">
                                    </div>
                                    <small id="logoHelp" class="form-text text-muted">Fichier .png transparent (sans fond blanc). Ne rien envoyer pour garder l'image actuelle.</small>
                                </div>
                                <div class="form-group">
                                    Mettre img
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            <div class="card-text">Réseaux</div>
                        </div>
                        <div class="card-body">
                            <div id="form-container">
                                <div class="form-group">
                                    <label for="inputEmail">Adresse mail</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Ex.
                                    asso@esaip.org" maxlength="50" value="email@esaip.org">
                                </div>
                                <!--<div class="row form-group">
                                    <div class="col">
                                        <label for="inputFb">Page Facebook</label>
                                        <input type="url" class="form-control" id="inputFb" placeholder="Ex. https://facebook.com/BdeEsaipAngers/" value="">
                                    </div>
                                    <div class="col">
                                        <label for="inputInsta">Pseudo Instagram</label>
                                        <input type="text" class="form-control" id="inputInsta" placeholder="Ex. bde_esaip (pas de @)" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <label for="inputTwitter">Pseudo Twitter</label>
                                        <input type="text" class="form-control" id="inputTwitter" placeholder="Ex. groupeesaip (pas de @)" maxlength="50" value="">
                                    </div>
                                    <div class="col">
                                        <label for="inputSnap">Pseudo Snapchat</label>
                                        <input type="text" class="form-control" id="inputSnap" placeholder="Ex. nrsesaip (pas de @)" maxlength="50" value="">
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-text">Liste des membres <i class="float-right text-muted">Glisser-déplacer pour réorganiser</i></div>
                        </div>
                        <div class="card-body p-0" style="max-height: 760px; overflow-y: auto">
                            <ul class="list-group list-group-flush" id="members-list">
                                {% for m in members %}
                                    <li class="list-group-item" id="{{ m.id }}">
                                        <div id="form-container">
                                            <div class="row form-group">
                                                <div class="col">
                                                    <h5>{{ m.fullName }} <small class="text-muted">{{ m.email }}</small></h5>
                                                </div>
                                                <div class="col-md-auto">
                                                    <span class="float-md-right">
                                                        <button class="btn btn-outline-danger" onclick="$('#{{ m.id }}').remove();" {{ m == app.user ? 'disabled' }}>Supprimer</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col">
                                                    <input type="text" class="form-control role-input"
                                                           placeholder="Rôle" value="Rôle">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control intro-ta" rows="5" maxlength="500"
                                                          placeholder="Biographie ou description du poste ..
                                                          .">Introduction</textarea>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul style="display: none">
                                <li class="list-group-item" id="member-template">
                                    <div id="form-container">
                                        <div class="row form-group">
                                            <div class="col">
                                                <h5>%name% <small class="text-muted">%email%</small></h5>
                                            </div>
                                            <div class="col-md-auto">
                                                    <span class="float-right">
                                                        <button class="btn btn-outline-danger" onclick="$('#%id%').remove();">Supprimer</button>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <input type="text" class="form-control role-input" placeholder="Rôle">
                                            </div>
                                            <div class="col-md-auto">
                                                <div class="btn-group-toggle role-buttons" data-toggle="buttons">
                                                    <label class="btn btn-success boutonAdmin">
                                                        <input type="checkbox"> Administrateur
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control intro-ta" rows="5" maxlength="500" placeholder="Biographie ou description du poste ..."></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
