{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Topic
{% endblock %}

{% block body %}
<main>
	<form action="">
		<div class="container py-4">
			<h1>{{topic.title}}</h1>
			<h3>{{is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVENTION') ? 'Pôle prévention' : (topic.isAnonymous ?
				topic.author.anonymousId : topic.author.fullname)}},
				{{topic.creationDate|date('d/m/Y')}}</h3>
			<i>{{topic.tag.name}}</i>
			<p>{{topic.content}}</p>
			<hr class="my-4">
			<h2>Réponses</h2>
			<div class="form-group">
				<input type="text" class="form-control" name="content">
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVENTION') %}
				<button class="btn btn-primary">Envoyer</button>
				{% else %}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
					Envoyer
				</button>
				{% endif %}
			</div>
			{% for response in topic.topicResponses %}
			<div class="response">
				<p>
					<strong>{{'ROLE_ADMIN' in response.author.roles or 'ROLE_PREVENTION' in response.author.roles ?
						'Pôle prévention' : (response.isAnonymous ? response.author.anonymousId :
						response.author.fullname)}}</strong>,
					{{response.responseDate|date('H:i, d/m/Y')}}
				</p>
				<p>{{response.content}}</p>
			</div>
			{% endfor %}
		</div>

		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">

				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLabel">Envoie de la réponse</h5>
						<p>La réponse sera devra être validée par le pôle prévention avant d'être visible publiquement.
						</p>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="checkbox" name="is_anonymous">
						<label for="">Voulez-vous que votre message soit publié anonymement ?</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button class="btn btn-primary">Envoyer</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</main>

<script>
	$('form input').keydown(function (e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			return false;
		}
	});
</script>
{% endblock %}