{% extends 'espace_assos/espasso_base.html.twig' %}

{% block header %}Modifier les pages <span class="float-sm-right"><button class="btn btn-primary save-button" onclick="save()">Enregistrer les modifications</button> </span>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('espace_asso_pages') }}
{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 order-lg-1">
                    <div class="card">
                        <div class="card-header">
                            Ajouter une page
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Nom</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Entrer un nom pour la page" maxlength="30">
                            </div>
                            <button class="btn btn-primary" onclick="newPage()">Ajouter</button>
                        </div>
                    </div>

                    <div class="alert alert-info">Clique sur le nom d'une page pour la renommer.</div>

                    <div class="card">
                        <div class="card-header">
                            Liste des pages <i class="float-right text-muted">Glisser-déplacer pour réorganiser</i>
                        </div>
                        <div class="card-body p-0" id="nav-list-card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <span>Accueil</span>
                                    <button id="home-modif-btn" class="btn btn-primary btn-page" onclick="changePage('home', this)" disabled>Modif. en cours</button>
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <span>Actu</span>
                                    <button class="btn btn-secondary" disabled>Modifier</button>
                                </li>
                                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                    <span>Membres</span>
                                    <button class="btn btn-secondary" disabled>Modifier</button>
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush" id="nav-list">
                                <li class="list-group-item" style="display: none">
                                    <a href="#page-home" data-toggle="tab" aria-controls="home" aria-selected="true"></a>
                                </li>
                                {% for page in project.pages | sort((a, b) => a.orderPosition <=> b.orderPosition) %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center page-list-item" id="page-list-{{ page.id }}">
                                        <span class="page-name" contenteditable="true">{{ page.name }}</span>
                                        <a href="#page-{{ page.id }}" data-toggle="tab" aria-controls="page-{{ page.id }}" aria-selected="false"></a>
                                        <div class="float-right">
                                            <div class="btn-group-toggle btn-group-sm role-buttons" data-toggle="buttons">
                                                <label class="btn btn-success boutonPublier">
                                                    <input type="checkbox" {{ page.published ? 'checked' }}> Publier
                                                </label>
                                                <button class="btn btn-primary btn-page" onclick="changePage({{ page.id }}, this)">Modifier</button>
                                                <button class="btn btn-danger" onclick="removePage({{ page.id }})"><i class="fas fa-times"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul style="display: none">
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="list-template">
                                <span contenteditable="true">%name%</span>
                                <a href="#page-%id%" data-toggle="tab" aria-controls="page-%id%" aria-selected="false"></a>
                                <div class="btn-group-toggle btn-group-sm role-buttons" data-toggle="buttons">
                                    <label class="btn btn-success boutonPublier">
                                        <input type="checkbox"> Publier
                                    </label>
                                    <button class="btn btn-primary btn-page" onclick="changePage('%id%', this)" disabled>Modif. en cours</button>
                                    <button class="btn btn-danger" onclick="removePage('%id%')"><i class="fas fa-times"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-8 order-lg-0" style="max-width: 1140px;">
                    <div id="contenu">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="page-home" role="tabpanel" aria-labelledby="home">
                                <div id="summernote-home">{{ project.html | raw }}</div>
                            </div>

                            {% for page in project.pages | sort((a, b) => a.orderPosition <=> b.orderPosition) %}
                                <div class="tab-pane fade" id="page-{{ page.id }}" role="tabpanel" aria-labelledby="page-{{ page.id }}">
                                    <div id="summernote-{{ page.id }}">
                                        {{ page.html | raw }}
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            {% endfor %}
                        </div>
                        <div style="display: none">
                            <div class="tab-pane fade" id="tab-template" role="tabpanel" aria-labelledby="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" data-backdrop="static" id="deletePageModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer une page</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer la page <i class="delete-page-title"></i> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger delete-page-btn modal-btn">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = {{ project.id }};
    </script>
    {{ encore_entry_script_tags('espace_asso_pages') }}
{% endblock %}