{% extends 'espace_assos/espasso_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body text-center">
                                <h1 class="display-4 titre-page">{{ page.title }}</h1>
                                <span class="lead">
                                    {{ page.description }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            {{ page.html | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
