{% extends 'espace_admin/espadmin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('espace_asso_home') }}
{% endblock %}

{% block header %}Accueil{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary">
                        Les pages de gestion des réservations de salle, news de la vie asso, pages ressources fonctionnent. Pour le reste, contacter Brice.
                    </div>
                    <p>
                        a faire : gestion du mode maintenance, des articles mis en avant
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ totalUsers }}</h3>

                            <p>Utilisateurs uniques</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ validUsers }}</h3>

                            <p>Utilisateurs depuis Septembre</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ lastWeek }}</h3>

                            <p>Utilisateurs ces 7 derniers jours</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ totalProjects }}</h3>

                            <p>Clubs, assos & projets</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <a href="{{ url('espace_admin_projects') }}" class="small-box-footer">Gérer <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ roombooks }}</h3>

                            <p>Réservations de salle à traiter</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-calendar-check"></i>
                        </div>
                        <a href="{{ url('espace_admin_roombooks') }}" class="small-box-footer">Gérer <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
