{% extends 'espace_admin/espadmin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('espace_admin_admins') }}
{% endblock %}

{% block header %}Administrateurs{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Ajouter un administrateur
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col">
                                    <label for="inputMembre">Choisir un premier administrateur</label>
                                    <div class="autocomplete">
                                        <input type="text" class="form-control" id="inputMembre" placeholder="Nom, adresse@esaip.org">
                                    </div>
                                    <small class="form-text text-muted">Entrez un nom ou une adresse mail esaip. La personne doit s'être connectée une première fois à Asso'esaip. Cette personne pourra gérer le site complet, comme vous.</small>
                                    <ul class="list-group" id="listeMembres">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Liste des administrateurs
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush" id="admin-list">
                                {% for a in admins %}
                                    <li class="list-group-item" id="{{ a.id }}">
                                        <div>
                                            {{ a.fullName }} (<a href="mailto:{{ a.username }}">{{ a.username }}</a>)
                                        </div>
                                        <span class="float-right">
                                        <button class="btn btn-danger" {{ a == app.user ? 'disabled' }} onclick="deleteAdmin('{{ a.id }}', '{{ a.fullName }}')">Supprimer</button>
                                    </span>
                                    </li>
                                {% endfor %}
                                <li class="list-group-item" id="admin-template" style="display: none">
                                    <div>
                                        %name% (<a href="mailto:%mail%">%mail%</a>)
                                    </div>
                                    <span class="float-right">
                                        <button class="btn btn-danger" onclick="deleteAdmin('%id%', '%name%')">Supprimer</button>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/jquery.easy-autocomplete.js') }}"></script>
    {{ encore_entry_script_tags('espace_admin_admins') }}
{% endblock %}
