{% extends 'base.html.twig' %}

{% block title %}Asso'esaip - Calendrier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block body %}
    <main role="main">
        <div class="jumbotron text-center">
            <h1 class="display-4">Calendrier</h1>
            <p class="lead">Les événements de tous les clubs de ton campus sont regroupés ici.</p>
            {% for c in categs | sort((a, b) => a.name <=> b.name) %}
                <span class="badge badge-pill badge-primary" style="background-color: {{ c.color }}">{{ c.name }}</span>
            {% endfor %}
            {% if is_granted('ROLE_PROJECT_EDITOR') %}
                 | <span class="badge badge-pill badge-primary" style="background-color: #fca503">Non publié</span>
            {% endif %}
        </div>
        <div class="container-fluid pb-5">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
