{% extends 'base.html.twig' %}

{% block title %}Asso'esaip - {{ category.name }}{% endblock %}

{% block body %}
    <main role="main">
        <div class="jumbotron text-center bg-light">
            <h1 class="display-4">{{ category.name }}</h1>
            <p class="lead">{{ category.description }}</p>
            <hr class="my-4">
            <div class="container-fluid text-left">
                <div class="col-lg-10 offset-lg-1">
                    {% set notConnected = app.user == null or is_granted('ROLE_ADMIN') %}
                    {% set campus = notConnected ? 'A' : app.user.campus %}

                    {% for project in category.projects
                        | filter(project => project.type == "Association")
                        | filter(project => campus in project.campus)
                        | filter(project => project.childrenProjects is not empty)
                    %}
                        <h2 class="asso-category">
                            {{ project.name }}
                            {% if notConnected %}
                                <span class="text-secondary" style="font-size: small">(Association à {{ project.campus }})</span>
                            {% endif %}
                        </h2>
                        <p>{{ project.description }}</p>
                        <a class="btn btn-primary btn-sm" href="{{ path('project', {'url': project.url}) }}">Découvrir l'asso</a>
                        <hr>
                        <div class="row">
                            {% for childProject in project.childrenProjects %}
                                <div class="col-md-4 d-flex">
                                    <div style="border-color: #009bc2;" class="card mb-4 box-shadow flex-fill card-link">
                                        <div class="card-body d-flex flex-column">
                                            <h5>{{ childProject.name }}</h5>
                                            <span class="card-text">{{ childProject.description }}</span>
                                            <a class="stretched-link" href="{{ path('project', {'url': childProject.url}) }}"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% set otherAssos = category.projects | filter(project => project.type == "Association") | filter(project => project.childrenProjects is empty) %}
                    {% if otherAssos is not empty %}

                            {% for asso in otherAssos %}
                                <h2 class="asso-category">
                                    {{ asso.name }}
                                    {% if notConnected %}
                                        <span class="text-secondary" style="font-size: small">(Association à {{ asso.campus }})</span>
                                    {% endif %}
                                </h2>
                                <p>{{ asso.description }}</p>
                                <a class="btn btn-primary btn-sm" href="{{ path('project', {'url': asso.url}) }}">Découvrir l'asso</a>
                                <hr>
                            {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}
