{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import news_list %}

{% block title %}Asso'esaip - {{ category.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('category') }}
{% endblock %}

{% block body %}
    <main role="main">
        <div class="home-header text-center">
            <h1 class="display-4">{{ category.name }}</h1>
            <p class="lead">{{ category.description }}</p>
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-projects-tab" data-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-projects" aria-selected="true">Projets</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-actu-tab" data-toggle="pill" href="#pills-actu" role="tab" aria-controls="pills-actu" aria-selected="false">Actu</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-calendar-tab" data-toggle="pill" href="#pills-calendar" role="tab" aria-controls="pills-calendar" aria-selected="false">Calendrier</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid text-left">
           <div class="row">
               <div class="col-lg-10 offset-lg-1">
                   <div class="tab-content" id="pills-tabContent">
                       <div class="tab-pane fade show active" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
                           {% set notConnected = app.user == null or is_granted('ROLE_ADMIN') %}
                           {% set campus = notConnected ? 'A' : app.user.campus %}

                           {% for project in category.projects
                               | filter(project => project.type == "Association")
                               | filter(project => campus in project.campus)
                               | sort((a, b) => a.name <=> b.name)
                               | sort((a, b) => a.childrenProjects is empty)
                           %}
                               <div class="row asso-category">
                                   <div class="col-xl-auto my-auto text-center">
                                       {% if project.logoFileName != null %}
                                           <img src="{{ vich_uploader_asset(project, 'logoFile') | imagine_filter('thumbnail') }}" alt="Logo projet" style="max-height: 100px; max-width: 100px">
                                       {% else %}
                                           <img src="{{ asset('build/images/project-placeholder.png') | imagine_filter('thumbnail') }}" alt="Logo projet" style="max-height: 100px; max-width: 100px">
                                       {% endif %}
                                   </div>
                                   <div class="col-xl">
                                       <h2>
                                           {{ project.name }}
                                           {% if notConnected %}
                                               <span class="text-secondary" style="font-size: small">(Association à {{ project.campus }})</span>
                                           {% endif %}
                                       </h2>
                                       <p>{{ project.description }}</p>
                                       <a class="btn btn-primary btn-sm" href="{{ path('project', {'url': project.url}) }}">Découvrir l'asso</a>
                                   </div>
                               </div>
                               <hr>
                               <div class="row">
                                   {% for childProject in project.childrenProjects | filter(p => p.category == project.category) | sort((a, b) => a.name <=> b.name) %}
                                       <div class="col-lg-4 d-flex">
                                           <div class="card mb-4 box-shadow flex-fill card-link border-esaip">
                                               <div class="card-body row">
                                                   <div class="col-xl-auto my-auto text-center">
                                                       {% if childProject.logoFileName != null %}
                                                           <img src="{{ vich_uploader_asset(childProject, 'logoFile') | imagine_filter('thumbnail') }}" alt="Logo projet" style="max-height: 80px; max-width: 80px">
                                                       {% else %}
                                                           <img src="{{ asset('build/images/project-placeholder.png') | imagine_filter('thumbnail') }}" alt="Logo projet" style="max-height: 80px; max-width: 80px">
                                                       {% endif %}
                                                   </div>
                                                   <div class="col-xl">
                                                       <div class="d-flex flex-column">
                                                           <h5>{{ childProject.name }}</h5>
                                                           <span class="card-text">{{ childProject.description }}</span>
                                                       </div>
                                                   </div>
                                               </div>
                                               <a class="stretched-link" href="{{ path('project', {'url': childProject.url}) }}"></a>
                                           </div>
                                       </div>
                                   {% endfor %}
                               </div>
                           {% endfor %}


                       </div>

                       <div class="tab-pane fade pt-4" id="pills-actu" role="tabpanel" aria-labelledby="pills-actu-tab">
                           <div class="row">
                               {{ news_list(news, 'col-xl-6') }}
                           </div>
                           <button class="btn btn-primary" id="loadArticlesButton" {{ news|length <= 30 ? 'style="display: none;"' }}>Charger la suite</button>

                       </div>

                       <div class="tab-pane fade pb-5" id="pills-calendar" role="tabpanel" aria-labelledby="pills-calendar-tab">
                           <div id='calendar'></div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const categId = {{ category.id }};
    </script>
    {{ encore_entry_script_tags('category') }}
{% endblock %}
