{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} - {{ event.project.name }}{% endblock %}

{% block body %}
    <main role="main">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-1 contenu-event">
                    <div class="card" style="border-color: {{ event.category.color }}">
                        <div class="card-body text-center">
                            <h1 class="display-4 titre-page">{{ event.title }}</h1>
                            <span class="lead">
                                    {{ event.abstract }}
                                </span>
                        </div>
                        <h5>
                            <span class="badge badge-pill badge-primary news-badge" style="right: 30px; background-color: {{ event.category.color }}"><i class="far fa-calendar-alt"></i> {{ event.category.name }} · Publié le {{ event.datePublished | format_date(locale='fr') }}</span>
                        </h5>
                    </div>
                    <div id="contenu">
                        {{ event.html | raw }}
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1 side-content text-center">

                    {% if is_granted('EDIT', event) %}
                        <p><a class="btn btn-primary mt-auto" href="{{ path('espace_assos_events_edit', {url: event.project.url, id: event.id}) }}" role="button">Modifier</a></p><hr class="my-4">
                    {% endif %}

                    <div class="card card-link text-center">
                        <div class="card-body">
                            {% if event.project.logoFileName != null %}
                                <div class="text-center" style="padding-bottom: 1.25rem">
                                    <img src="{{ vich_uploader_asset(event.project, 'logoFile') | imagine_filter('medium') }}" alt="Logo {{ event.project.name }}">
                                </div>
                            {% endif %}
                            <p><h4>{{ event.project.name }}</h4></p>
                        </div>
                        <a class="stretched-link" href="{{ path('project', {'url': event.project.url}) }}"></a>
                        <!-- /.card-body -->
                    </div>

                    <div class="card text-left">
                        <div class="card-header">
                            Date{{ event.occurrencesCount != 1 ? 's' }}
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0" style="max-height: 300px; overflow-y: auto">
                            <ul class="list-group list-group-flush">
                                {% if event.occurrencesCount == 1 %}
                                    {% if event.allDay %}
                                        {% set start = event.dateStart|format_date(pattern="EEEE dd MMM",locale='fr') ~ ' toute la journée'|capitalize %}
                                        {% set end = event.dateEnd|format_date(pattern="EEEE dd MMM",locale='fr') ~ ' toute la journée'|capitalize %}
                                    {% else %}
                                        {% set start = event.dateStart|format_datetime(pattern="EEEE dd MMM H'h'mm", locale='fr')|capitalize %}
                                        {% set end = event.dateEnd|format_datetime(pattern="EEEE dd MMM H'h'mm", locale='fr')|capitalize %}
                                    {% endif %}

                                    {% if start == end %}
                                        <li class="list-group-item">{{ start }}</li>
                                    {% else %}
                                        <li class="list-group-item">Début : {{ start }}</li>
                                        <li class="list-group-item">Fin : {{ end }}</li>
                                    {% endif %}
                                {% else %}
                                    {% if occurrences|length == 0 %}
                                        <li class="list-group-item">Toutes les dates sont passées.</li>
                                    {% else %}
                                        {% if event.allDay %}
                                            {% for occur in occurrences %}
                                                <li class="list-group-item">{{ occur.date|format_date(locale='EEEE dd MMM')|capitalize }}, toute la journée</li>
                                            {% endfor %}
                                        {% else %}
                                            {% for occur in occurrences %}
                                                <li class="list-group-item">{{ occur.date|format_datetime(pattern="EEEE dd MMM H'h'mm", locale='fr')|capitalize }} - {{ occur.date|date_modify('+' ~ event.duration ~ ' minute')|format_datetime(pattern="H'h'mm") }} </li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card card-widget widget-user-2">
                        <div class="card-header text-left">
                            Auteur
                        </div>
                        <div class="widget-user-header" data-toggle="tooltip" title="{{ event.author.username }}">
                            <div class="widget-user-image">
                                {% if event.author.avatarFileName != null %}
                                    <img id="photo" class="img-circle elevation-2" src="{{ vich_uploader_asset(event.author, 'avatarFile') | imagine_filter('thumbnail') }}" alt="Photo auteur">
                                {% else %}
                                    <img id="photo" class="img-circle elevation-2" src="{{ asset('build/images/placeholder.png') }}" alt="Photo auteur">
                                {% endif %}
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">
                                {{ event.author.fullName }}
                                {% if event.author.promo != "" %}
                                    <small class="text-muted">({{ event.author.promo }})</small>
                                {% endif %}
                            </h3>
                            {% if author %}
                                <span class="description">{{ author.role }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#contenu img').css('height', '').css('max-width', '100%');
        });
    </script>
{% endblock %}
